@import url('https://fonts.cdnfonts.com/css/great-vibes');
@import url('https://fonts.cdnfonts.com/css/gowun-dodum');
/* Condiciones iniciales de la página */
:root{
    --colorFondo:#D9CCC5;
    --color1:#D9BB96;
    --color2:#A6775B;
    --color3:#59261B;
    --color4:#433528;
    --textTitulos:'Great Vibes', cursive;
    --textContenido:'Gowun Dodum', sans-serif;
}

/* -------------HEADER----------------- */
/* --------------MAIN----------------- */

.invitacion {
    background-color: var(--colorFondo);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: var(--color3);
}

.detalles {
    font-size: 18px;
    margin-top: 20px;
    color: var(--color2);
}

.mensaje {
    font-family: 'gowun-dodum' ;
    font-size: 20px;
    margin-top: 20px;
    color: var(--color4);
}

/* -------------FOOTER----------------- */