
@import url('https://fonts.cdnfonts.com/css/great-vibes');
@import url('https://fonts.cdnfonts.com/css/gowun-dodum');
/* Limpieza de estilos por defecto */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Condiciones iniciales de la página */
:root{
    --colorFondo:#D9CCC5;
    --color1:#D9BB96;
    --color2:#A6775B;
    --color3:#59261B;
    --color4:#433528;
    --textTitulos:'Great Vibes', cursive;
    --textContenido:'Gowun Dodum', sans-serif;
}




/* -------------HEADER----------------- */
/* nav styles */
nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background-color: var(--color1);
    font-family: var(--textContenido);
    font-size: larger;
}
nav h2{
    color: var(--color3);
    font-family: var(--textTitulos);
}
nav ul{
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: var(--color3);
    display: block;
    transition: 1.5s;
}
nav a:hover{
    transform: scale(1.3);
    color: #651c0c;
}
/* Carrusel y padres */
.container-carrusel{
    max-width: 100vw;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 10%; */
    margin-bottom: 10%;
    background-color: var(--color3);
    font-family: var(--textContenido);
}
.container-carrusel img{
    max-width: 100%;
}

/* Padres de la novia */
.container-padresNovia{
    font-family: var(--textContenido);
    color: var(--colorFondo);
    max-width: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr;    
}
.container-padresNovia h3{
    grid-row: 1/3;
    grid-column: 2/4;
    text-align: center;
}
.container-padresNovia img:nth-child(2){
    grid-row: 2/4;
    grid-column: 1/3;
    border-radius: 50%;
    border: 5px solid var(--color1);
}
.container-padresNovia img:nth-child(3){
    grid-row: 3/5;
    grid-column: 3/5;
    border-radius: 50%;
    border: 5px solid var(--color1);
}

/* Carrusel */
.container-images{
    max-width: 350px;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    border: 5px solid var(--color1);
    
}
.container-images img{
    max-width: 100%;
    max-height: 100%;
}
.img-slider{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    animation-name: slide;
    animation-duration: 20s; 
    animation-iteration-count: infinite; 
    animation-direction: normal;
    animation-timing-function: ease-in-out; 
    animation-delay: .5s; 
}
.img-slider img:nth-child(7){
    transform: scaleX(1.77);
    margin-left: 22%;
}


@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    16%{
        transform: translateX(-100%);
    }
    32%{
        transform: translateX(-200%);
    }
    48%{
        transform: translateX(-300%);
    }
    64%{
        transform: translateX(-400%);
    }
    80%{
        transform: translateX(-500%);
    }
    100%{
        transform: translateX(-600%);
    }
}



/* Padres del novio */
.container-padresNovio{
    font-family: var(--textContenido);
    color: var(--colorFondo);
    max-width: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr;    
}
.container-padresNovio h3{
    grid-row: 1/3;
    grid-column: 2/4;
    text-align: center;
}
.container-padresNovio img:nth-child(2){
    grid-row: 2/4;
    grid-column: 1/3;
    border-radius: 50%;
    border: 5px solid var(--color1);
}
.container-padresNovio img:nth-child(3){
    grid-row: 3/5;
    grid-column: 3/5;
    border-radius: 50%;
    border: 5px solid var(--color1);
}


/* --------------MAIN----------------- */

.invitacion {
    background-color: var(--colorFondo);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: var(--color3);
}

.detalles {
    font-size: 18px;
    margin-top: 20px;
    color: var(--color2);
}

.mensaje {
    font-family: 'gowun-dodum' ;
    font-size: 20px;
    margin-top: 20px;
    color: var(--color4);
}

/* -------------FOOTER----------------- */