/* Condiciones iniciales de la página */
:root{
    --colorFondo:#D9CCC5;
    --color1:#D9BB96;
    --color2:#A6775B;
    --color3:#59261B;
}



/* -------------HEADER----------------- */
/* --------------MAIN----------------- */
/* -------------FOOTER----------------- */